<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/adminbase::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<title th:text="${title}">Document</title>
</head>

<body>
	<section>
		<div class="">
			<div class="card">
				<div class="card-body text-center">
					<h1 class="card-title text-center">All Applied Forms</h1>
				</div>
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<!-- error message  -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}"
							class="alert  text-center" role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-md-12 ">
						<table class="table table-dark table-striped text-center"
							aria-describedby="#">
							<thead>
								<tr>

									<th scope="col">name</th>
									<th scope="col">Type</th>
									<th scope="col">Status</th>
									<th scope="col" colspan="5">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="v: ${vl}">
									<td th:text="${v.fullName}">{}</td>
									<td th:text="${v.visaType}">{}</td>
									<td th:text="${v.status}">{}</td>
									<td><a type=" submit" class="btn btn-outline-light "
										th:href="@{'/admin/formdetails/'+${v.id}}"> Form</a></td>
									<td><a type="submit" class="btn btn-outline-light">Payment
									</a></td>
									<td><a type="submit" class="btn btn-outline-light "th:if="${!v.status.equals('Submitted')}"
										th:href="@{'/admin/conformationform/'+${v.id}}">
											Conformation</a></td>
									<td>
										<button type="submit" th:if="${v.status.equals('Submitted')}"
											class="btn btn-outline-warning ">Not reviewed</button>
									</td>

									<td>
										<button type="submit" class="btn btn-outline-danger ">Delete</button>
									</td>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>
</html>