<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/userbase::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<title th:text="${title}">Document</title>
</head>

<body>
	<section>
		<div class="container-fluid">
			<div class="conatiner mt-3 border border-info p-2">
				<div class="row">
					<h2 class="text-center mt-4">Update For Your Visa</h2>
					<div class="col-md-8 offset-md-2 mb-3">
						<div class="card">
							<div >
								<div class="card-body text-center">
									<h1 class="text-danger">processing............</h1>
									<h2>Your Current Visa was {{vform.status}}</h2>

								</div>
								<div class="text-center">
									<a href="" >Complete
										Payment</a>
								</div>
							</div>
							<div class="card-body text-center">
								<h1 class="text-danger">Your previous visa History</h1>

								<div class="row">
									<div class="col-md-12">
										<table class="table table-dark table-striped text-center"
											aria-describedby="#">
											<thead>
												<tr>
													<th scope="col">Sn</th>
													<th scope="col">UserName</th>
													<th scope="col">Visa Start From</th>
													<th scope="col">Visa End On</th>
													<th scope="col">Expiry</th>
													<th scope="col">Conform</th>

												</tr>
											</thead>
											<tbody>
												<tr >
													<th scope="row">{{ i+1 }}</th>
													<th scope="row">{{ v.visaForm.fullName }}</th>
													<th scope="row">{{ v.startingDate }}</th>
													<td>{{v.endingDate}}</td>
													<td>{{v.expired}}</td>
													<td>{{v.conformed}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>
</html>